**/node_modules/
**/dist/
**/.next/
**/out/

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

!**/.env.example
!**/.env.local.example

**/*.log
.DS_Store
**/.idea/
**/*.tsbuildinfo
**/next-env.d.ts
**/coverage/
